<%- include('header') -%>
<head>
  <meta charset="utf-8">

    <div class="error">
      <br></br>
      <error><%= error %></error>
    </div>
  </div>
  <a href="javascript:history.back()">Til baka</a>
  <%- include('footer') -%>